/*
 * GotToVote.cc Stylesheet - style.css
 * -------------------------------------------------------
 * Author: Code for Africa
 * URI: http://www.codeforafrica.org
 * -------------------------------------------------------
 */

/* Space out content a bit */
body {
  padding-top: 111px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/*===================== Custom Global Styles =====================*/

a {
    -webkit-transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s, opacity ease-in-out 0.2s;
    -moz-transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s, opacity ease-in-out 0.2s;
    -o-transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s, opacity ease-in-out 0.2s;
    transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s, opacity ease-in-out 0.2s;
}

.header img {
    width: 200px;
    margin-top: -20px;
}
.header ul {
    padding-bottom: 19px;
}

.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 20px;
    background-color: #ffffff;
    z-index: 9999;
}

.header .nav-pills  > li > a {
    color: #5cb85c;
    border-color: #4cae4c;
}
    .header .nav-pills  > li > a :hover, .header .nav-pills  > li > a :focus {
        background-color: #449d44;
        border-color: #398439 !important;
        color: #fff;
    }
    
    .header .nav-pills  > li.active > a {
        background-color: #5cb85c;
        border-color: #4cae4c;
        color: #fff;
    }
    .header .nav-pills  > li.active > a :hover, .header .nav-pills  > li.active > a :focus {
        background-color: #449d44;
        border-color: #398439 !important;
        color: #fff;
    }



/*======================      Home Page      ======================*/

.jumbotron .text-success a {
	color: #5cb85c;
}
	.jumbotron .text-success a:hover {
		color: #47a447;
	}

.partner-logos a {
	margin: 10px;
}
	.partner-logos a img {
		height: 80px;
	}
	.partner-logos a:hover, .footer a:hover {
		opacity: 0.6;
	}

.footer {
	margin-left: -5px;
}
	.footer a {
		margin: 5px;
	}
	.footer a img {
		height: 40px;
	}


/*======================      Blog Page      ======================*/
.blog-list .media {
    margin-top: 40px;
}
.blog-list .media .media-thumb {
    max-width: 30%;
}
.blog-list .media-object {
    max-width: 100%;
    width: 200px;
}

/*======================      Post Page      ======================*/

.post-featured {
    margin: 10px;
    max-width: 40%;
}
    .post-featured img {
        width: 250px;
        max-width: 100%;
    }
