---
layout: default
title: Home
nav_home: active
---

<div class="container">

  <div class="jumbotron">

    <!--<i class="fa fa-archive fa-5x"></i> -->
    <h1>Getting Citizens To The Polling Booth</h1>

    <br/>

    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/hUdCVzxCt_o?rel=0" frameborder="0"
              allowfullscreen></iframe>
    </div>
    <br/><br/>

    <p class="lead">From Kenya to Malawi to Ghana, the GotToVote platform has enabled citizen to exercise their
      democratic right to vote</p>

    <h1 class="text-success" style="font-size: 40px;">
      <a href="#" data-toggle="tooltip" title="Registration Centers Information" data-placement="bottom"><i
          class="fa fa-map-marker"></i></a> .
      <a href="#" data-toggle="tooltip" title="Confirm Registration Details" data-placement="bottom"><i
          class="fa fa-check-square-o"></i></a> .
      <a href="#" data-toggle="tooltip" title="Open Source with GitHub" data-placement="bottom"><i
          class="fa fa-github"></i></a>
    </h1>
    <!--<img src="/img/voting.png" style="width: 100px; max-width: 100%;"alt="" />-->
  </div>

  <div class="row marketing">
    <div class="col-lg-12">
      <h2>Features</h2>
    </div>
    <div class="col-md-6">
      <h4><span class="fa-stack">
			  <!--<i class="fa fa-circle-o fa-stack-2x"></i>-->
			  <i class="fa fa-map-marker fa-stack-1x"></i>
			</span> Find Your Registration Centre</h4>

      <p>Some say you need a map or location services, we said we want the simplest way to help citizens find there
        registration centres. From long PDFs to simple drop downs, we came up with the most intuitive way citizens want
        to find registration centres near them.</p>

      <h4><span class="fa-stack">
			  <!--<i class="fa fa-circle-o fa-stack-2x"></i>-->
			  <i class="fa fa-bar-chart-o fa-stack-1x"></i>
			</span> Election Results Showcase</h4>

      <p>Enabling a more immersive story telling experience through data is at the heart of what we do. Election data is
        no exception to this.</p>

      <h4><span class="fa-stack">
			  <i class="fa fa-hdd-o fa-stack-1x"></i>
			  <!--<i class="fa fa-ban fa-stack-2x"></i>-->
			</span> No Hosting Worries</h4>

      <p>Our very first version of GotToVote, helping citizens find registration centres nearest to them was served
        using GitHub pages and the data from Google Fusion Tables. Both very reliable services that incurred no cost and
        while other similar services buckled under the load, ours coasted through without breaking a sweat.</p>

    </div>

    <div class="col-md-6">
      <h4><span class="fa-stack">
			  <!--<i class="fa fa-circle-o fa-stack-2x"></i>-->
			  <i class="fa fa-check-square-o fa-stack-1x"></i>
			</span> Voter Registration Confirmation</h4>

      <p>Confirm that you are registered to vote and that your details are correct so that come voting day, there is no
        question of your eligibility. Coupled with state of the art technology, GotToVote Voter Registration
        Confirmation (VRC) module ensures security, speed and reliability.</p>

      <h4><span class="fa-stack">
			  <!--<i class="fa fa-circle-o fa-stack-2x"></i>-->
			  <i class="fa fa-envelope-o fa-stack-1x"></i>
			</span> Send a Peace Message</h4>

      <p>Election time can get heated and we have seen this heat boil over across our own country. So we came up with a
        feature to allow visitors to share a peace SMS for free through the Web.</p>

      <h4><span class="fa-stack">
			  <!--<i class="fa fa-circle-o fa-stack-2x"></i>-->
			  <i class="fa fa-github fa-stack-1x"></i>
			</span> Open Source</h4>

      <p>and loving it. To ensure integrity of systems we build, we offer them to public scrutiny. This allows for
        community problem fixing and features extension. Take a look at our code on GitHub.</p>
    </div>
    <div class="col-lg-12 text-center">
      <!--<p><a class="btn btn-lg btn-success" href="#" role="button">View All Features</a></p>-->
    </div>
  </div>

  <hr/>

  <div class="row marketing text-center">
    <div class="col-lg-12">
      <p class="lead">Featured Deployments</p>
      <br/>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="/img/screens/kenya.png">

        <div class="caption">
          <h3>Kenya</h3>

          <p>The first GotToVote deployment that focussed on making it easy to find your nearest registration
            center.</p>

          <p><a href="http://gottovote.code4kenya.org" target="_blank" class="btn btn-success" role="button">Go to
            Website</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="/img/screens/malawi.png">

        <div class="caption">
          <h3>Malawi</h3>

          <p>Adopted by the Malawi Government as their official platform, GotToVote was used for voter registration
            confirmation.</p>

          <p><a href="http://gottovote.malawivote2014.org" target="_blank" class="btn btn-success" role="button">Go to
            Website</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="/img/screens/zimvoices.png">

        <div class="caption">
          <h3>Zimbabwe</h3>

          <p>Picked up by Sean Ndlovu, this was a community instance showing how easy it is to deploy one in your
            country.</p>

          <p><a href="http://www.zimvoices.co.zw" target="_blank" class="btn btn-success" role="button">Go to
            Website</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="/img/screens/ghana.png">

        <div class="caption">
          <h3>Ghana</h3>

          <p>A partnership between Code for Ghana and Odekro to take the pain out of finding registration centres.</p>

          <p><a href="http://ghana.gottovote.cc" target="_blank" class="btn btn-success" role="button">Go to Website</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">

    </div>
  </div>

  <hr/>

  {% include partners.html %}

  <hr/>

  {% include footer.html %}

</div>
