---
layout: default
---

<div class="container">
  <div class="marketing">
    <div class="page-header">
      <h2>{{ page.title }}</h2>
    </div>
    <p class="text-muted small">{{ page.date | date_to_string }} | <a href="/blog">Blog</a> . {{ page.title }}</p>


    <div class="pull-right post-featured">
      <img src="{{ page.featured }}"/>
    </div>

    {{ content }}



    <div class="clearfix"></div>

    <br/>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'gottovote'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


  </div>

  <hr />

  <div class="marketing">
    <div class="row">
      <div class="col-md-6">
        <h3>About GotToVote!</h3>
        <p class="lead">Enabling citizens to get to the ballot box informed and ready.</p>

        <p>GotToVote started off as a simple experiment to make data otherwise locked in government, useful to the general public.</p>
        <p>Now we seek to make a larger impact in the democratic process by partnering with government, civil society and media organisation to improve the entire process.</p>
        <p><a href="/about" class="btn btn-success">Read more</a><!-- <a href="/contribute.html" class="btn btn-info">Find Out How You Can Help</a>--></p>
      </div>
      <div class="col-md-6">
        <a class="twitter-timeline" href="https://twitter.com/search?q=%23GotToVote" data-widget-id="443862671192903680">Tweets about "#GotToVote"</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>
